<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Santa App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/client.js" defer></script>
  </head>

  <body>
    <div class="center">
      <form method="post" action="/send" class="form-santa">
          <h1 class="text-center">A letter to Santa</h1>
          <h3 class="text-center">Ho ho ho!</h3>
          <p class="text-center">what you want for christmas?</p>
          who are you?
          <input name="username" placeholder="charlie.brown" required/>
          what do you want for christmas?
          <textarea name="wish" rows="10" cols="45" maxlength="100" placeholder="Gifts!" required></textarea>
          <br/>
          <button type="submit" id="submit-letter">Send</button>
      </form>
    </div>
  </body>
</html>